{% extends 'base_layout.html' %} {% block content %}
<h1>This is article page</h1>
<!-- <ul>
        <li>article 1</li>
        <li>article 2</li>
        <li>article 3</li>
        <li>article 4</li>
        <li>article 5</li>
    </ul> -->

<!-- tempalte tages -->
{% for article in articles %}
<div class="article">
  <!-- Named URL's and name spacing -->
  <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
  <!-- use the model methods -->
  <p>{{ article.snippet }}</p>

  <!-- <p>{{ article.body }}</p> -->
  <p>{{ article.date }}</p>
</div>
{% endfor %} {% endblock %}
