<!-- import static files -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article List</title>
    <link rel="stylesheet" href="{% static 'style.css'%}" />
  </head>
  <body>
    <div class="wrapper">
      <header class="wrapper">
        <h1>
          <a href="{% url 'articles:list' %}"
            ><img src="{% static 'logo.png' %}" alt="djangonautic"
          /></a>
        </h1>
        <nav>
          <ul>
            <li>
              <form
                class="logout-link"
                action="{% url 'accounts:logout' %}"
                method="post"
              >
                {% csrf_token %}
                <button type="submit">Logout</button>
              </form>
            </li>
          </ul>
        </nav>
      </header>
      <div class="wrapper">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
